body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: MuseoModerno, sans-serif;

}

.main__home, .main__mining, .main__friend, .main__task, .main__user {
    display: block;
}
.main__home {
    display: block;
}

a,
button,
input,
textarea {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;
}

.header__pre {
    height: 83px;
    background-color: #575757;
}

.footer {
    height: 33px;
    background-color: #575757;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.header {
    background-color: #464646;
    height: 70px;
    display: none;
}




.main__preloader {
    /* background-image: url('../img/bg-preloader.png'); */
    background-color: #000;
    height: 100vh;
    background-size: cover;
    display: block;
}

.main__preloader.hidden {
    display: none;
}


.container {
    padding: 2px 10px;
}


.logo {
    padding-top: 240px;
    display: flex;
    margin: 0 auto;
    /* Початкова позиція поза екраном */
    transform: translateY(-100%);
    /* Налаштування анімації */
    animation: dropDown 1.2s ease-out forwards;
}

/* Визначення ключових кадрів для анімації */
@keyframes dropDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}






.logo__t {
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
    /* Початкова позиція поза екраном ліворуч */
    transform: translateX(-100%);
    /* Налаштування анімації для виїзду тексту */
    animation: slideIn 1.2s ease-out forwards, gradientShift 2s infinite; 
    background: linear-gradient(to right, #CDCDCD 20%, #74cb6c 40%, #a9e2a4 60%, #CDCDCD 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/* Визначення ключових кадрів для анімації виїзду */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Визначення ключових кадрів для анімації переливання */
@keyframes gradientShift {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}

.logo__t::after {
    /* Затримка початку анімації градієнту */
    animation-delay: 10s;
}


.logo__b {
    color: #CDCDCD;
    font-family: 'MuseoModerno', sans-serif;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    visibility: hidden; /* Спочатку приховуємо текст */
}

.main__time {
    display: block; 
}
.main__time.hidden {
    display: none;
}

.main__time {
    background-color: #000;
    height: 100vh;
}

.timer1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.time__logo-t {
    margin-top: -25px;
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.time__logo-b {
    margin-top: 11px;
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

.time__num {
    color: #666;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 64px;
    font-weight: 500;
    line-height: 110%;
    margin-top: 115px;
    max-width: 280px;
}
.seconds {
    color: #67FF59;
}


.time__info {
    color: #CDCDCD;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 15px;
    font-weight: 400;
    margin-top: 91px;
}

.time__sub{
    width: 135px;
    flex-shrink: 0;
    color: #181818;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    border-radius: 27px;
    background: #67FF59;
    text-align: center;
    padding: 7.5px 0px;
    margin-left: auto;
}
.timer__sub-box {
    border-radius: 30px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 175px;
    height: 28px;
    flex-shrink: 0;
    margin-top: 9px;
}


.timer__shh {
    background: none;
    display: flex;
    align-items: center;
    border: none;
    margin-top: 30px;
}
.timer__shh-txt {
    color: #CDCDCD;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 9px;
}



.container__ref {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__ref {
    background-color: #000;
    height: 100vh;
    display: block;
}

.main__ref.hidden {
    display: none; 
}


.ref__txt {
    margin-top: 118px;
    color: #AEAEAE;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    max-width: 225px;
    line-height: normal;
}

.ref__input {
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    padding: 19px;
    display: flex;
    align-items: center;
    width: 235px;
    margin-top: 40px;
}

.ref__input-txt {
    color: #A3A3A3;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    margin-right: auto;
}


.ref__back {
    display: flex;
    align-items: center;
    margin-top: 53px;
    background: none;
    border: none;
}

.ref__back-txt {
    color: #AEAEAE;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
}
.ref_logo-tp {
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 32px;
    font-weight: 700;
    margin-top: 150px;
}

.ref_logo-bt {
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 16px;
    font-weight: 200;
    margin-top: 11px;
}
.ref__button-input {
    background: none;
    border: none;
}


.main__sub {
    background: #000000;
    height: 100vh;
    display: block;
}

.main__sub.hidden {
    display: none;
}

.error__sub-tg {
}

.subscription__error {
    color: #CDCDCD;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    max-width: 187px;
    margin: 0 auto;
}


.close__error {
    display: flex;
    margin: 0 auto;
}

.subscribe__subscribe-tg {
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 185px;
    margin-bottom: 35px;
}

.subscription__button-tg {
    border-radius: 30px;
    border: 1px solid #FFF;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    max-width: 177px;
    margin: 0 auto;
}

.vaard__channel-link {
    margin-left: auto;
    padding: 7.5px 27px;
    border-radius: 27px;
    background: #67FF59;
    text-decoration: none;
    color: #181818;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
}

.sub__logoname {
    margin-top: 270px;
}
.sub__vaard {
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 11px;
}

.sub__token {
    color: #CDCDCD;
    font-family: MuseoModerno;
    font-size: 16px;
    font-weight: 200;
    color: #CDCDCD;
    text-align: center;
}


.main__home {
    background-color: #000000;
    height: 100vh;
}





.hi {
    padding-top: 10px;
    color: #CDCDCD;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
}

.home__user-welcome {
    border-radius: 30px;
    border: 1px solid #FFF;
    padding: 8px;
    max-width: 178px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.home__user-1 {
    margin-bottom: 74px;
}

.home__user {
    margin-left: 13px;
    padding: 7.5px 6px;
    border-radius: 27px;
    background: #67FF59;
    text-decoration: none;
    color: #181818;
    font-family: Montserrat;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    width: 125px;
}


.home__main-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 249px;
    height: 249px;
    border-radius: 146px;
    border: 1px solid #FFF;
    background: #000;
    overflow: hidden;
}

.home__main-btn {
    background: none;
    border: none;
}

.home__balance {
    text-align: center;
    display: inline-block;
    margin-bottom: 7px;
    margin-top: 60px;

}

.home__balance2 {
    display: flex;
    align-items: center;
}

.home__triangles-tp {
    margin-top: -2px;
}

.home__balance img {
    width: 14px;
    margin-bottom: -2px;
    margin-right: 5px;
}

.home__balance-txt {
    color: #FFF;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 24px;
    font-weight: 600;
}


.home__token-max {
    color: #9B9B9B;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    margin-top: 39px;
}

.home__token-info {
    color: #484848;
    font-family: Montserrat;
    font-size: 7px;
    font-weight: 400;
    text-align: center;
    margin-top: 2px;
}


.home__triangles-bt {
    margin-top: 7px;
    
}

.home__mining-info {
    color: #C0C0C0;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    margin-top: 82px;
}

.home__mining {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    width: 253px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #0E0E0E;
    text-align: center;
    padding: 12.5px 0px;
    margin: 0 auto;
    margin-top: 7px;
    margin-bottom: 7px;
    background-image: url('../img/home-mining__bg.svg');
}


.home__mining-num {
    color: #5A5A5A;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
}

.home__main-btn {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

        
.suffix {
    font-family: MuseoModerno;
}



.floating-number {
    position: absolute;
    animation: floatUp 2s ease-out forwards;
    pointer-events: none;
    color: #828282;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 30px;
    font-weight: 600;
}
@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-200px);
    }
}




.menu {
    right: 0;
    left: 0;
    bottom: 20px;
    position: relative;
}



.menu__list {
	display: flex;
	justify-content: center;
	align-items: end;
	padding-left: 0;
}

.menu__list li + li {
	margin-left: 30px;
}

.menu__list-svg {
	padding: 11px 15px;
	background: #1f1f1f;
	display: block;
	max-width: 60px;
	height: 33px;
	border-radius: 65px;
	background: rgba(120, 120, 120, 0.32);
	backdrop-filter: blur(3.5px);
}

.menu__list-link {
	color: #8c8c8c;
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	z-index: 10;
}
.menu__list-text {
	display: block;
	color: #8c8c8c;
	text-align: center;
	font-family: Inter;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	padding-top: 6px;
}

.menu__list-item:last-child {
	position: relative;
}

.menu__list-item:last-child::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #67FF59;
	border-radius: 50%;
	top: 0;
	right: 2px;
}


.main__mining {
    background: #000000;
    height: 100vh;
}

.mining__mine {
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    height: 439px;
    display: flex;
    width: 329px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.mining__mine::-webkit-scrollbar {
    display: none; 
}

.mine__info-top {
    color: #CDCDCD;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    margin-top: 39px;
}


.mine__info-bt {
    color: #838383;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    margin-top: 10px;
}

.mining__boost  {
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    width: 273px;
    margin-top: 39px;
    display: flex;
    align-items: center;
    padding: 21px;
    background: none;
    
}


.mining__popup {
    position: absolute;
    bottom: -290px; /* Початкове положення поза межами видимої області */
    left: 50%;
    transform: translate(-50%, 0); /* Виправлено на translate(-50%, 0) */
    width: 373px;
    height: 271px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #67FF59;
    background: linear-gradient(0deg, #000 43.17%, #67FF59 273.99%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: bottom 0.5s ease; /* Плавний перехід для зміни положення */
}

.mining__popup.show {
    bottom: -20px; /* Кінцеве положення */
}




.mining__popup-clbtn {
    background: none;
    border: none;
    margin-top: 7px;
}
.mining__popup-name {
    color: #83FF77;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 24px;
    font-weight: 600;
    margin-top: 36px;
}


.mining__popup-price {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.mining__popup-token {
    width: 13px;
    margin-right: 5px;
}
.mining__popup-pricetxt {
    color: #DDD;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}

.mining__popup-buy {
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #050505;
    box-shadow: 0px 3px 0px 0px #83FF77;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 9.5px 60px;
    margin-top: 27px;
}


.token__boost {
    width:11px;
    height: 17px;
    margin-right: 5px;
}

.boost_price {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

.boost- {
    margin: 0px 9px;
}

.boost__info {
    color: #C4C4C4;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-right: auto;
}

.last__b0ost {
    margin-bottom: 45px;
}

.home__user-2 {
    margin-bottom: 43px;
}

.mining__squares {
    padding-top: 31px;
    display: flex;
    margin: 0 auto;
}


.main__friend {
    background-color: #000000;
    height: 100vh;
}


.friend__block {
    margin: 0 auto;
    width: 329px;
    height: 439px;
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.friend__txt-top {
    margin-top: 39px;
    margin-bottom: 10px;
    color: #CDCDCD;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
}


.friend__txt-bt {
    color: #838383;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    margin-left: -46px;
    margin-bottom: 23px;
}

.friend__btn {
    margin-top: 16px;
    width: 233px;
    height: 18px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    display: flex;
    align-items: center;
    padding: 20px;
    background: none;
    height: 59.46px;
    width: 274.32px;
}


.friend__btn img {
    width: 9px;
    margin-bottom: -2px;
}

.friend__btn-info {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.friend__btn-num {
    color: #C4C4C4;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3px;
    margin-right: auto;
}

.friend__rectangle {
    margin: 0px 10px;
}

.friend__triangle {
    margin-top: 35px;
}

.friend__input {
    margin-top: 16px;
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    display: flex;
    align-items: center;
    padding: 17.4px;
    width: 238.2px;
    margin-bottom: 24px;
}





.friend__popup {
    position: absolute;
    bottom: -290px; /* Початкове положення поза межами видимої області */
    left: 50%;
    transform: translate(-50%, 0); /* Виправлено на translate(-50%, 0) */
    width: 373px;
    height: 271px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #67FF59;
    background: linear-gradient(0deg, #000 43.17%, #67FF59 273.99%);
    /* background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(21.200000762939453px); */
    /* background-color: #000; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: bottom 0.5s ease; /* Плавний перехід для зміни положення */
}

.friend__popup.show {
    bottom: -20px; 
} 


.friend__popup-clbtn {
    background: none;
    border: none;
    margin-top: 7px;
}

.friend__popup-name {
    color: #83FF77;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 24px;
    font-weight: 600;
    margin-top: 36px;
}


.friend__popup-price {
    display: flex;
    align-items: center;
    margin-top: 26px;
}


.friend__popup-token {
    width: 13px;
    margin-right: 5px;
}
.friend__popup-pricetxt {
    color: #DDD;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}

.friend__popup-buy {
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #050505;
    box-shadow: 0px 3px 0px 0px #83FF77;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 9.5px 60px;
    margin-top: 27px;
}





.main__task {
    background: #000000;
    height: 100vh;
}


.task__block {
    width: 329px;
    height: 439px;
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}


.task__block::-webkit-scrollbar {
    display: none; /* приховує полосу прокрутки в Chrome, Safari та Opera */
}


.task__txt-top {
    color: #CDCDCD;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    margin: 39px 0px 11px 0px;
}

.task__txt-bt {
    max-width: 223px;
    color: #838383;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 9px;
}

.task__btn {
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    width: 273px;
    height: 58px;
    flex-shrink: 0;
    background: none;
    padding: 20px;
    margin-top: 17px;

}

.task__btn img {
    width: 9px;
    margin-bottom: -2px;
}

.btn__info {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}

.task__num {
    color: #C4C4C4;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-right: auto;
    margin-left: 3px;
}

.task__rectangle {
    margin: 0px 13px;
}

.task__btn-last {
    margin-bottom: 17px;
}

.task__decor {
    display: flex;
    margin: 0 auto;
    margin-top: 31px;
}





.task__popup {
    position: absolute;
    bottom: -290px; /* Початкове положення поза межами видимої області */
    left: 50%;
    transform: translate(-50%, 0); /* Виправлено на translate(-50%, 0) */
    width: 373px;
    height: 271px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #67FF59;
    background: linear-gradient(0deg, #000 43.17%, #67FF59 273.99%);
    /* background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(21.200000762939453px); */
    /* background-color: #000; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: bottom 0.5s ease; /* Плавний перехід для зміни положення */
}

.task__popup.show {
    bottom: -20px; 
} 


.task__popup-clbtn {
    background: none;
    border: none;
    margin-top: 7px;
}

.task__popup-name {
    color: #83FF77;
    text-align: center;
    font-family: MuseoModerno;
    font-size: 24px;
    font-weight: 600;
    margin-top: 36px;
}


.task__popup-price {
    display: flex;
    align-items: center;
    margin-top: 26px;
}


.task__popup-token {
    width: 13px;
    margin-right: 5px;
}
.task__popup-pricetxt {
    color: #DDD;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
}

.task__popup-buy {
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #050505;
    box-shadow: 0px 3px 0px 0px #83FF77;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 9.5px 60px;
    margin-top: 27px;
}


.main__user {
    background: #000;
    height: 100vh;
}

.user__cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.user__balance {
    display: flex;
    align-items: center;
}
.user__balance-img {
    width: 19px;
    height: 33px;
}

.user__balance-num {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
}

.user__balance-p {
    margin-top: 7px;
    color: #838383;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 46px;
}

.user__btn-info {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-right: auto;
}


.user__btn {
    height: 23px;
    width: 273px;
    padding: 19px 19px 19px 19px;
    border-radius: 12px;
    border: 1px solid #BCBCBC;
    background: #0C0C0C;
    box-shadow: 0px 4px 0px 0px rgba(83, 255, 67, 0.70);
    display: flex;
    align-items: center;
    margin-top: 20px;
} 


.menu {
    display: block;
}






  .nav__link {
    fill: #D4D4D4;
}

.nav__link.active {
    fill: #67FF59;
}


.menu__list-text {
    color: #D4D4D4; /* Додаємо колір тексту для .nav__link */
}

.menu__list-text.active {
    color: #67FF59; /* Змінюємо колір тексту для активного стану */
}
